@{
   ViewBag.Title = "Gifts - Create";
}

@model GiftViewModel

<form asp-controller="Gifts" asp-action="Create" method="post">
  <div class="px-4 py-4">
    @await Html.PartialAsync("_CreateOrEdit")
    <br>
    <button class="btn">Create</button>
    <a class="btn-red" asp-controller="Gifts" asp-action="Index">Cancel</a>
  </div>
</form>
