<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>SecretSanta - @ViewBag.Title</title>
  <!-- Stylesheets -->
  <% for (var filename in htmlWebpackPlugin.files.css) { %>
  <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
  <% } %>
  <!-- End Stylesheets -->
</head>
<body>
  <header class="bg-blue-500 text-white flex flex-col sm:flex-row justify-between p-6" x-data="SecretSanta.setupNav()">
    <div class="flex flex-row justify-between">
      <a class="sm:px-6 leading-10 text-xl" asp-controller="Home" asp-action="Index">SecretSanta</a>
      <button class="sm:hidden" @@click="toggleMenu()"><i class="fas fa-bars align-middle h-full text-xl mr-2"></i></button>
    </div>
    <nav id="headerNav" class="hidden sm:inline-block">
      <ul class="flex flex-col sm:flex-row">
        <li class="sm:px-6 leading-10"><a asp-controller="Users" asp-action="Index">Users</a></li>
        <li class="sm:px-6 leading-10"><a asp-controller="Groups" asp-action="Index">Groups</a></li>
        <li class="sm:px-6 leading-10"><a asp-controller="Gifts" asp-action="Index">Gifts</a></li>
      </ul>
    </nav>
  </header>
  @RenderBody()

  <!-- Scripts -->
  <% for (var index in htmlWebpackPlugin.files.js) { %>
  <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
  <% } %>
  <!-- End Scripts -->
</body>
</html>
