@{
   ViewBag.Title = "Groups - Edit";
}

@model GroupViewModel

<form asp-controller="Groups" asp-action="Edit" method="post">
  <div class="px-4 py-4">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <br>
    <button class="btn">Update</button>
    <a class="btn-red" asp-controller="Groups" asp-action="Index">Cancel</a>
  </div>
</form>
