@{
  ViewBag.Title = "SecretSanta";
  int counter = 0;
}

<h1>Groups</h1>

<a asp-controller="Groups" asp-action="Create">Create</a>

@model List<GroupViewModel>

@foreach(var group in Model) {
  <div style="text-align: horizontal">
    @group.Name 
    <a asp-controller="Groups" asp-action="Edit" asp-route-id=@counter>Edit</a> 
    <form asp-controller="Groups" asp-action="Delete" asp-route-id=@counter method="post" style="display: inline-block">
      <button>Delete</button>
    </form>
    @{counter++;}
  </div>
}
