@{
   ViewBag.Title = "Users - Create";
}

@model UserViewModel

<form asp-controller="Users" asp-action="Create" method="post">
  <div class="px-4 py-4">
    @await Html.PartialAsync("_CreateOrEdit")
    <br>
    <button class="btn">Create</button>
    <a class="btn-red" asp-controller="Users" asp-action="Index">Cancel</a>
  </div>
</form>
