@{
  ViewBag.Title = "SecretSanta";
  int counter = 0;
}

<h1>Users</h1>

<a asp-controller="Users" asp-action="Create">Create</a>

@model List<UserViewModel>

@foreach(var user in Model) {
  <div style="text-align: horizontal">
    @user.FirstName @user.LastName 
    <a asp-controller="Users" asp-action="Edit" asp-route-id=@counter>Edit</a> 
    <form asp-controller="Users" asp-action="Delete" asp-route-id=@counter method="post" style="display: inline-block">
      <button>Delete</button>
    </form>
    @{counter++;}
  </div>
}
